* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s linear all;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

header a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#logo {
    width: 3rem;
    height: 3rem;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

#banner-container {
    margin: 1rem 0;
}

#banner {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: rgb(2, 65, 2);
}

#product-container {
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    border-radius: 1rem;
    height: 100%;
    color: black;
}

.product img {
    width: 100%;
    border-radius: 1rem;
}

.product p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#about-me {
    margin: 1rem 0;
}

#about-me {
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1685683035_en-idei-club-p-organic-color-background-dizain-krasivo-5.jpg');
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
}

#about-me img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

#about-me p:nth-child(1) {
    font-size: 1.5rem;
    color: rgb(2, 65, 2);
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: rgb(2, 65, 2);
}

.title-product {
    font-size: 2rem;
}

.price-product {
    font-size: 1.5rem;
}

.product-info {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1685683035_en-idei-club-p-organic-color-background-dizain-krasivo-5.jpg');
    border-radius: 1rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0 1.5rem;
}

@media screen and (max-width: 800px) {

    #logo {
        width: 2rem;
        height: 2rem;
    }

    #banner {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 1rem;
    }

    header,
    .title {
        font-size: 0.7rem;
    }

    #product-container {
        grid-template-columns: 1fr 1fr;
    }

    #about-me {
        grid-template-columns: 1fr;
    }

    #about-me img {
        height: 10rem;
    }

    #about-me p:nth-child(1) {
        font-size: 1.5rem;
    }

    #about-me p:nth-child(2) {
        font-size: 1rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }

    #footer p {
        font-size: 0.7rem;
    }

    .product-info {
        grid-template-columns: 1fr;
    }

    .links {
        font-size: 0.8rem;
    }
}